// Container

.container,
.container-wide,
.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	max-width: var(--wp--style--global--content-size);
}

.container-wide {
	max-width: var(--wp--style--global--wide-size);
}

.container-fluid {
	max-width: 100%;
}
