// Navbar

.navbar {
}

.navbar-brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	gap: 10px;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;

	.navbar-toggler-icon {
		@include toggler-icon;
	}

	@media (min-width: 992px) {
		display: none;
	}
}

.navbar-collapse {
	flex: 1;

	@media (max-width: 991.98px) {
		position: absolute;
		top: 0;
		width: 80%;
		height: 100vh;
		padding: 4rem 0 2rem;
		background: var(--wp--preset--color--white);
		overflow-x: hidden;
		z-index: 1080;
		transition: 0.4s;
		box-shadow: 0 3px 6px rgba(#000000, 16%), 0 3px 6px rgba(#000000, 23%);

		&:not(.show) {
			left: -100%;
		}

		&.show {
			left: 0;
		}
	}
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	z-index: 1080;

	@media (min-width: 992px) {
		flex-direction: row;
		gap: 0;
		text-align: initial;
	}

	.nav-item {
		a {
			display: block;
			padding: 0.6rem 0;
			font-size: 1.15rem;
			text-decoration: none;
			line-height: 1;

			@media (min-width: 992px) {
				padding: 1.2rem 0.889rem;
			}
		}

		&.active {
			& > a {
				color: var(--wp--preset--color--primary);
			}
		}
	}

	&.has-dropdown-menu-to-left {
		.dropdown-menu {
			right: 0;

			.dropdown-menu {
				top: 0;
				right: 100%;
			}
		}
	}

	&.has-dropdown-menu-to-right {
		.dropdown-menu {
			left: 0;

			.dropdown-menu {
				top: 0;
				left: 100%;
			}
		}
	}
}

.dropdown {
	position: relative;
	display: inline-block;

	.dropdown-menu {
		list-style: none;
		padding: 0;
	}

	@media (min-width: 992px) {
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 15px;
			border-style: solid;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 2px;
			transform: translateY(-80%) rotate(45deg);
			-webkit-transform: translateY(-80%) rotate(45deg);

			@media (min-width: 992px) {
				right: 0;
			}
		}

		.dropdown-menu {
			display: none;
			min-width: 200px;
			z-index: 1080;

			@media (min-width: 992px) {
				position: absolute;
				background-color: var(--wp--preset--color--background);
			}
		}

		// Show the dropdown menu
		&:hover {
			& > .dropdown-menu {
				display: block;
			}
		}
	}
}
