// Footer

.footer {
	padding-top: var(--wp--preset--spacing--50);
	padding-bottom: var(--wp--preset--spacing--50);
	font-size: var(--wp--preset--font-size--medium);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--secondary);

	.container,
	.container-wide,
	.container-fluid {
		display: grid;
		gap: calc(var(--wp--style--block-gap) / 2) var(--wp--style--block-gap);
		grid-template-columns: 100%;
		grid-template-areas:
			"LOGO"
			"INFOS"
			"LINK";

		@media (min-width: 768px) {
			grid-template-columns: auto min(391px, 90%);
			grid-template-areas:
				"LOGO INFOS"
				"LINK INFOS";
		}
	}

	.logo {
		grid-area: LOGO;
	}

	.link {
		grid-area: LINK;
		align-self: flex-end;

		a {
			display: flex;
			align-items: center;
			gap: 12px;
		}

		svg {
			width: 29px;
			height: 28px;
		}

		path {
			fill: var(--wp--preset--color--white);
		}
	}

	.infos {
		grid-area: INFOS;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--wp--style--block-gap);

		p {
			margin-top: 0;
		}
	}
}
