// Header

.header {
	position: absolute;
	width: 100%;
	padding-top: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--40);
	color: var(--wp--preset--color--white);
	background-color: transparent;
	z-index: 1090;

	&.has-menu {
		.navbar-brand {
			align-items: flex-start;
		}
	}

	&:not(.has-menu) {
		@media (min-width: 992px) {
			.navbar-brand {
				flex-direction: row;
			}
		}
	}

	.container,
	.container-wide,
	.container-fluid {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: var(--wp--style--block-gap);
	}

	.container-wide {
		max-width: 1436px;
	}
}
