/* Shared Styles */
// Note: Shared between Frontend and Admin (WP Block Editor)

body {
	@media (max-width: 991.98px) {
		--wp--preset--gradient--diagonal-tertiary-to-primary: linear-gradient(
			200deg,
			var(--wp--preset--color--tertiary) 7.66%,
			var(--wp--preset--color--primary) 57.16%
		);
		--wp--preset--gradient--diagonal-secondary-to-primary: linear-gradient(
			200deg,
			var(--wp--preset--color--secondary) 7.66%,
			var(--wp--preset--color--primary) 57.16%
		);
	}
}
