@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeue-Light.woff2") format("woff2"),
		url("../../fonts/TTFirsNeue-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeueTrl-LightIt.woff2") format("woff2"),
		url("../../fonts/TTFirsNeueTrl-LightIt.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeue-Regular.woff2") format("woff2"),
		url("../../fonts/TTFirsNeue-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeueTrl-It.woff2") format("woff2"),
		url("../../fonts/TTFirsNeueTrl-It.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeue-DemiBold.woff2") format("woff2"),
		url("../../fonts/TTFirsNeue-DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Firs Neue";
	src: url("../../fonts/TTFirsNeueTrl-DemiBoldIt.woff2") format("woff2"),
		url("../../fonts/TTFirsNeueTrl-DemiBoldIt.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
