// Blog

.blog {
	.header {
		position: relative;
		background: var(--wp--preset--gradient--diagonal-tertiary-to-primary);
	}

	main {
		& > .container,
		& > .container-wide,
		& > .container-fluid {
			padding-top: var(--wp--preset--spacing--50);
			padding-bottom: var(--wp--preset--spacing--50);
		}
	}
}
