// Page Gradient Brackground

.page-template-gradient-background {
	background: var(--wp--preset--gradient--diagonal-tertiary-to-primary);

	.entry-content {
		padding-top: var(--wp--preset--spacing--80);
		color: var(--wp--preset--color--white);
	}

	.footer {
		padding-top: 0;
		padding-bottom: 0;
		background: transparent;

		.container,
		.container-wide,
		.container-fluid {
			position: relative;
			margin-top: var(--wp--preset--spacing--50);
			padding-top: var(--wp--preset--spacing--50);
			padding-bottom: var(--wp--preset--spacing--50);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				width: calc(100% - (15px * 2));
				height: 1px;
				border-top: 1px solid rgba(217, 217, 217, 0.6);
			}
		}
	}
}
